.DS_Store
dist/
node_modules/
thumbs.db
yarn-error.log

*.synctex.gz
.project
output/
dokumentation.pdf
*.pdf
*.swp
*.backup
*.bak
*.orig
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lol
*.lot
*.run.xml
*.toc
*compile.log